body {
    font-family: 'Roboto', sans-serif;
}

 header {
    position: relative;
    height: 50px;
} 

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 50px;
}

.menu {
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu_link {
    text-decoration: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF; 
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    background: rgba(0,0,0, .6);
    height: 87px;
    position: absolute;
    width: 100%; 
    top: 50px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
font-weight: 400;
font-size: 13px;
color: #FFFFFF;
opacity: 0.5;
margin-top: 6px;
}

.subheader .subheader_call {
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
margin-top: 19px;
text-align: right;
}

.subheader .subheader_phone {
font-weight: 400;
font-size: 22px;
text-transform: uppercase;
color: #FFFFFF;
text-align: right;
display: block;
margin-top: 8px;
text-decoration: none;
line-height: 24px;
}

.subheader .subheader_btn {
    margin-top: 19px;
width: 172px;
height: 46px;
background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
border-radius: 3px;
border: none;

font-weight: 400;
font-size: 14px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader .subheader_btn:hover {
    background-image: none;
    background-color: #1EACC7;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center/cover no-repeat;
   padding: 150px 0 135px 0;
}

.promo .promo_header {
font-weight: 700;
font-size: 60px;
text-transform: uppercase;
color: #FFFFFF;
line-height: 60px;
margin: 0;
text-align: center;
}

.promo .promo_subheader {
    font-weight: 700;
font-size: 36px;
text-transform: uppercase;
color: #FFFFFF;
line-height: 36px;
margin: 0;
margin-top: 22px;
text-align: center;
}

.promo .promo_descr {
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
margin-top: 23px;
}

.promo .promo_btn {
display: block;
margin: 118px auto 0 auto;
 width: 259px;
height: 63px;
border: none;
background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
border-radius: 4px;
font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo .promo_btn:hover {
    background-image: none;
    background-color: #1EACC7;
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    position: relative;
    z-index: 2;
    width: 112px;
    height: 25px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 7px 12px;
    text-align: center;
}

.label_white {
    color: #000000;
    background-color: white;
}

.title {
    position: relative;
    z-index: 2;
font-weight: 700;
font-size: 38px;
line-height: 38px;
text-transform: uppercase;
color: #222222;
text-align: center;
margin-top: 32px;
margin-bottom: 0;
}

.title_white {
    color:white;
}

.subtitle {
    position: relative;
    z-index: 2;
font-weight: 400;
font-size: 17px;
color: #222222;
margin-top: 19px;
text-align: center;
}

.subtitle_white {
    color: white;
}

.reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons_round {
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    }

.reasons .reasons_descr .reasons_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #1EACC7;
}

.reasons .reasons_descr {
    width: 370px;
}


.reasons .reasons_descr .reasons_text {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #202020;
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url('../img/bg/mobile_bg.png') center/cover no-repeat;
}

.mobile .row {
    margin-top: 32px;
}

.mobile .mobile_item {
        width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
    position: relative;
}


.mobile .mobile_item_1 {
    background: url('../img/bg/mobile_screen_1.jpg') center/cover no-repeat;
}

.mobile .mobile_item_2 {
        background: url('../img/bg/mobile_screen_2.jpg') center/cover no-repeat;
    }

.mobile .mobile_item_3 {
    background: url('../img/bg/mobile_screen_3.jpg') center/cover no-repeat;
}

.mobile .mobile_item_4 {
    background: url('../img/bg/mobile_screen_4.jpg') center/cover no-repeat;
}

.mobile .mobile_item_5 {
    background: url('../img/bg/mobile_screen_5.jpg') center/cover no-repeat;
}

.mobile .mobile_item_6 {
    background: url('../img/bg/mobile_screen_6.jpg') center/cover no-repeat;
}

.mobile .mobile_item .mobile_item_subtitle {
font-weight: 400;
font-size: 24px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
line-height: 31px;
}

.mobile .mobile_item .mobile_item_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
   left: calc(50% - 15px);
    width: 26px;
height: 26px;
border-radius: 50%;
background-color: #000000;
margin: 0 auto;
cursor: pointer;
}

.mobile .mobile_item .mobile_item_plus::before{
    content: '';
    width: 14px;
    height: 2px;
    background-color: #1EACC7;
}

.mobile .mobile_item .mobile_item_plus::after{
    content: '';
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 14px;
    background-color: #1EACC7;
}

.choice {
    position: relative;
    min-height: 895px;
    padding: 57px 0 138px 0;
    background: url('../img/bg/mobile_bg.png')
}

.choice .black {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 499px;
    width: 100%;
    background-color: #070716;
}

.choice .label_white {
    background-color: white;
    color: black;
}

.choice img {
    position: relative;
    z-index: 2;
    display: block;
    margin: 56px auto 0 auto;
}

.choice .choice_descr {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #222222;
    line-height: 24px;
}

.require {
    padding: 68px 0 84px 0;
}

.require .require_title {
font-weight: 400;
font-size: 22px;
color: #1CA8C3;
}

.require .require_title_red {
    color: #FF5656;
    ;
}

.require .require_list li {
    position: relative;
    list-style-type: none;
    margin-bottom: 10px;
font-weight: 300;
font-size: 17px;
color: #222222;
}

.require .require_list li:before {
    content: '';
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url(../icons/check_blue.svg) center/cover no-repeat;
    vertical-align: middle;
}

.require .require_list {
    padding-left: 50px;
    margin-top: 22px;
}

.require .require_descr {
font-weight: 300;
font-size: 17px;
color: #1CA8C3;
}

.require .require_block {
    margin: 33px 0;
}

.require .require_block_nmb {
margin-bottom: 0;
}

.require .require_list_red li:before {
    background: url(../icons/check_red.svg) center/cover no-repeat;
}